{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 pt-5 p-5">
        <div class="row bg-dark p-4 rounded text-light">
            <div class="col">
                <form action="" method="post" class="w-50 shadow rounded p-4 mx-auto">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    {% for field in update_user_form %}
                        {{field.label_tag}}
                        {{field}}
                        {{field.errors}}
                        <br>
                    {% endfor %}
                    <input type="submit" value="Change" class="btn btn-success mt-3">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}